@using TastyDelivery.Models.RestaurantModels

@model IEnumerable<RestaurantsViewModel>

@{
    ViewBag.Title = "Restaurants";
}

<div class="container">
    <div class="text-center mb-5">
        <h1 class="display-1 text-primary">Welcome to <span class="font-weight-bold">Tasty Delivery</span></h1>
        <h2 class="mb-4">Choose Your Restaurant</h2>
    </div>

    <div class="row justify-content-center">
        @foreach (var restaurant in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <a href="@Url.Action("ShowMenu", "Restaurant", new { id = restaurant.Id})" class="text-decoration-none text-dark stretched-link">
                        <div class="card-body">
                            <h4 class="card-title mb-3">@restaurant.Name</h4>
                            <p class="card-text mb-2"><strong>Location:</strong> @restaurant.Location</p>
                            <p class="card-text mb-2"><strong>Working Hours:</strong> @restaurant.WorkingHours</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
