@using TastyDelivery.Core.Models.RestaurantModels

@model RestaurantModel

@{
    ViewBag.Title = "Update Restaurant Menu";
}

<h1>@ViewBag.Title</h1>
<hr />



<form asp-action="AddMenu" method="post">
    <div class="form-group">
        <label for="restaurantId">Select a restaurant:</label> <span asp-validation-for="Restaurants" class="text-danger"></span>
        <select id="restaurantId" name="RestaurantId" class="form-control">
            <option value="">Select a restaurant</option>
            @foreach (var restaurant in Model.Restaurants)
            {
                <option value="@restaurant.Id">@restaurant.Name</option>
            }
        </select>   
    </div>
    <div class="form-group">
        <label for="menuItems">Menu Items:</label>  <span asp-validation-for="MenuItems" class="text-danger"></span>
        <textarea id="menuItems" name="menuItems" class="form-control" rows="4"></textarea>
    </div>

    <input type="hidden" id="selectedRestaurantId" name="selectedRestaurantId" value="" />

    <button type="submit" class="btn btn-primary">Add Product</button>
</form>

<script>
    function updateSelectedRestaurantId() {
        var selectedRestaurantId = document.getElementById("restaurantId").value;
        document.getElementById("selectedRestaurantId").value = selectedRestaurantId;
    }

    document.getElementById("restaurantId").addEventListener("change", updateSelectedRestaurantId);
</script>
