@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1>Bad Request</h1>
    <p>You can only pick items from one restaurant at a time.</p>
    <p>If you want to add items from another restaurant, you must remove the current items.</p>
</div>
