@using Microsoft.AspNetCore.Identity
@using TastyDelivery.Areas.Admin
@using TastyDelivery.Infrastructure.Data.Models.IdentityModels
@using TastyDelivery.Infrastructure.Utilities.Constants

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.FindByEmailAsync(User.Identity.Name);

        @if (User.IsInRole(AdminConstants.AdminRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Page</a>
            </li>
        }
        @if (User.IsInRole(UsersConstants.DeliveryManRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="assignedOrders" asp-controller="DeliveryMan" asp-action="AssignedOrders">Assigned Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="availableOrders" asp-controller="DeliveryMan" asp-action="AvailableOrders">Available Orders</a>
            </li>
        }
        @if(User.IsInRole(UsersConstants.CustomerRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="myOrders" asp-controller="Order" asp-action="OrderDetails">My Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="shoppingCart" asp-controller="ShoppingCart" asp-action="GetShoppingCart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="customerProfile" asp-controller="Customer" asp-action="Profile">@user.FirstName</a>
            </li>
        }

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
