@using System.Security.Claims
@using Newtonsoft.Json
@using TastyDelivery.Core.Models.ShoppingCart
@using TastyDelivery.Infrastructure.Data.Models.IdentityModels
@using Microsoft.AspNetCore.Http;
@model Cart


@{
    ViewBag.Title = "Checkout";
}

<h1>Checkout</h1>
<hr>

<div>
    <h2>Delivery Details</h2>
    <form>
        <div>
            <label for="firtName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        @if (Model != null)
        {
            <h2>Cart Summary</h2>
            <p>Total Items: @Model.Products.Sum(item => item.Quantity)</p>
            <p>Total Price: @Model.Products.Sum(item => item.Price * item.Quantity).ToString("0.00") BGN</p>
            <a href="@Url.Action("GetShoppingCart", "ShoppingCart")" class="btn btn-primary">Back to Shopping Cart</a>
        }
        <button type="submit">Place Order</button>
    </form>
</div>
